* {
    margin: 5px;
    padding: 5px;
}
body {
    background-color: rgb(230, 237, 231);   
}
.card {
    display: flex;
    height: 50%;
    width: 50%;
}
.container {
    justify-content: center;
    display: flex;
}
